h2.rs-page-title {
	/*padding: 40px;*/
}
.pull-bottom {
	vertical-align: bottom;
	margin-bottom: 0%;
}
.repose-ul li{
	font-size: 20px;
	list-style-type: none;
	line-height: 1.5em;
}

#main-navbar {
	position: relative;
	margin: 0 auto;
	width: 80%;
}
