<div class="rs-container">
  <div class="rs-back-link">
    <a data-ui-sref="main" data-ng-show="ui.isChildState">Back to Instances</a>
  </div>
  <div class="rs-main rs-panel">
    <div class="rs-content rs-panel">
      <div class="rs-inner">
        <h2 class="rs-page-title">Solum Applications</h2>
        <repose-cards></repose-cards>
        <div class="rs-table-overlay rs-table-overlay-loading"  data-ng-if="ui.waitingForLoad">
          <div class="rs-table-overlay-content">
            <div class="rs-table-overlay-message">
              Loading Instances&hellip;
            </div>
          </div>
        </div>
        <div class="rs-table-overlay" data-ng-if="ui.reposeFetchError">
          <div class="rs-table-overlay-content">
            <div class="rs-table-overlay-title"><h3>Sorry, something went wrong when trying to list your instances.</h3></div>
            <div class="rs-table-overlay-message">
              <p>You can try to list them again, but you may need to contact support if the problem persists.</p>
              <p class="table-overlay-btn-group">
                <button class="rs-btn" data-ng-click="forceFetchInstances()">Try Again</button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
