<div class="rs-container">
  <div class="rs-back-link">
    <a data-ui-sref="main" data-ng-show="ui.isChildState">Back to Instances</a>
  </div>
  <div class="rs-main rs-panel">
    <div class="rs-sidebar rs-pull-right">
      <div class="rs-inner">
        <h3>Creating an Instance</h3>
        <h4>Repose Test Instance</h4>
        <p>To evaluate Repose, you can select the filters you'd like to evaluate, plug in some data (a lot of required elements are filled in by default but you can update it as needed), and run requests against your configuration set.  You can also then run performance tests to validate that the performance is up to your liking.  Finally, you're able to download the configurations to plug them into your own Repose instance.</p>
        <p><a href="https://repose.atlassian.net/wiki/">Repose wiki</a></p>
      </div>
    </div>
    <div class="rs-content rs-panel">
      <form name="createForm" data-ng-submit="createForm.$valid && createInstance()" class="rs-form-horizontal" novalidate>
        <div class="rs-detail-section">
          <create-repose></create-repose>
        </div>
        <div class="rs-detail-section">
          <div class="rs-detail-section-header rs-btn-group">
            <button type="submit" class="save rs-btn rs-btn-primary">Create Instance</button>
            <button class="rs-btn rs-btn-link" data-ui-sref="^">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
