<div class="rs-detail-section-header">
  <h2 class="rs-page-title">Create Languagepack</h2>
</div>
<div class="rs-detail-section-body">
  <div class="rs-control-group error" data-ng-show="create.errorMessage !== ''">
    <strong class="rs-help-block">{{ ui.errorMessage }}</strong>
  </div>

  <div class="row">
    <div class="col-xs-3">
      <label class="rs-control-label">Languagepack name</label>
    </div>
    <div class="rs-controls col-xs-6">
      <input class="col-xs-12" type="text"
        required placeholder="Provide languagepack name" ng-model="lp.name" name="lp_name"/>
    </div>  
  </div>

  <div class="row">
    <div class="col-xs-3">
      <label class="rs-control-label">Languagepack URL</label>
    </div>
    <div class="rs-controls col-xs-6">
      <input  type="text"  required class="col-xs-12"
        placeholder="Example https://github.com/rackspace-solum-samples/solum-languagepack-python.git"
        ng-model="lp.uri" name="lp_uri"/>
    </div>  
  </div>

</div>
