<div class="rs-container">
  <div class="rs-back-link">
    <a data-ui-sref="main" data-ng-show="ui.isChildState">Back to Applications</a>
  </div>
  <div class="rs-main rs-panel">
    <div class="rs-sidebar rs-pull-right">
      <div class="rs-inner">
        <h3>Deploy an Application</h3>
        <!--<h4>Solum Test Application</h4>-->
        <p>To deploy an application, you need to provide following information. name of the application, languagepack, application code repository(github url), port etc... For more information refer to Solum Docs.</p>
        <p><a href="http://docs.openstack.org/developer/solum/getting_started/#create-your-app">Solum Docs</a></p>
      </div>
    </div>
    <div class="rs-content rs-panel">
      <form name="createForm" data-ng-submit="createApplication()" class="rs-form-horizontal" >
        <div class="rs-detail-section">
          <create-repose></create-repose>
        </div>
        <div class="rs-detail-section">
          <div class="rs-detail-section-header rs-btn-group">
            <button type="submit" class="save rs-btn rs-btn-primary">Deploy Application</button>
            <div class="rs-btn rs-btn-link" data-ui-sref="main">Cancel</div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
