<div class="rs-detail-section-header">
  <h2 class="rs-page-title">Deploy Application</h2>
</div>
<div class="rs-detail-section-body">
  <div class="rs-control-group error" data-ng-show="create.errorMessage !== ''">
    <strong class="rs-help-block">{{ ui.errorMessage }}</strong>
  </div>
   <div class="rs-control-group" data-ng-class="{'error': createForm.$submitted && createForm.name.$invalid}">

    <div class="row">
      <div class="col-xs-3">
        <label class="rs-control-label">Application Name</label>
      </div>
      <div class="rs-controls col-xs-6">
        <input class="col-xs-12" type="text" required placeholder="Provide application name" ng-model="app.name" name="app_name"/>
      </div>  
    </div>
  
    <div class="row">
      <div class="col-xs-3">
        <label class="rs-control-label">Application Description</label>
      </div>
      <div class="rs-controls col-xs-6">
        <textarea  rows="5" class="col-xs-12" required placeholder="Provide a short description here" ng-model="app.description" name="app_description"/>
      </div>  
    </div>
  
    <div class="row">
      <div class="col-xs-3">  
        <label class="rs-control-label">Application Respository</label>
      </div>
      <div class="rs-controls col-xs-6">
        <input class="col-xs-12" type="text" required placeholder="Provide application URL here" ng-model="app.repo" name="app_url"/>
      </div>  
    </div>
  
    <div class="row">
      <div class="col-xs-3">
        <label class="rs-control-label">Ports</label>
      </div>
      <div class="rs-controls col-xs-6">
        <input  class="col-xs-12" type="number" min="0" required placeholder="If there are more than one ports, separate them with a comma" ng-model="app.ports" name="app_port"/>
      </div>  
    </div>
  
    <div class="row">
      <div class="col-xs-3">
        <label class="rs-control-label">Test Command</label>
      </div>
      <div class="rs-controls col-xs-6">
        <input  class="col-xs-12" type="text" placeholder="Command to test the application. For example, ./unit_tests.sh. You can leave this blank" ng-model="app.test_cmd" name="app_testcmd"/>
      </div>  
    </div>
  
    <div class="row">
      <div class="col-xs-3">
        <label class="rs-control-label">Run Command</label>
      </div>
      <div class="rs-controls col-xs-6">
        <input  class="col-xs-12" type="text" required placeholder="Command to run the application. For example, python app.py" ng-model="app.run_cmd" name="app_runcmd"/>
      </div>  
    </div>
  
    <div class="row" data-ng-class="{'error': createForm.$submitted && createForm.name.$invalid}">
      <div class="col-xs-3">
        <label for="lp" class="rs-control-label">Languagepack</label>
      </div>
      <div class="rs-controls col-xs-6">
        <select class="col-xs-12" name="lp_name" required ng-model="lp_name"
                ng-options="lp.name for lp in repose.availableLanguagepacks" data-ng-change="selectLanguagepack()">
                <option value="">Select a languagepack</option>
        </select>
        <!--<span ng-show="createForm.lp_name.$error.required">Select service</span>-->
        <!--<select class="rs-input-medium" name="lp" required ng-model="app.lp"-->
                <!--data-ng-change="selectLanguagepack()">-->
          <!--<option data-ng-repeat="lp in repose.availableLanguagepacks" value="{{lp.name}}">{{lp.name}}</option>-->
        <!--</select>-->
      </div>
    </div>


    <!--<div class="row">-->
      <!--<div class="col-xs-3">-->
        <!--<label class="rs-control-label">Carina User Name</label>-->
      <!--</div>-->
      <!--<div class="rs-controls col-xs-6">-->
        <!--<input  class="col-xs-12" type="text" required placeholder="Provide getcarina.com username" ng-model="app.username" name="carina_username"/>-->
      <!--</div>  -->
    <!--</div>-->

    <!--<div class="row">-->
      <!--<div class="col-xs-3">-->
        <!--<label class="rs-control-label">Carina API Key</label>-->
      <!--</div>-->
      <!--<div class="rs-controls col-xs-6">-->
        <!--<input  class="col-xs-12" type="text" required placeholder="Carina API Key" ng-model="app.apikey" name="carina_apikey"/>-->
      <!--</div>  -->
    <!--</div>-->
    
    <div class="row">
      <div class="col-xs-3">
        <label class="rs-control-label">Carina Cluster Name</label>
      </div>
      <div class="rs-controls col-xs-6">
        <input  class="col-xs-12" type="text" required placeholder="Create a cluster from getcarina.com and provide it 's name here." ng-model="app.clustername" name="carina_clustername"/>
      </div>  
    </div>

    <div class="row text-center">
      <div class="row" ng-model="param_count" ng-show="param_count" ng-repeat="i in params">
        <div class="col-xs-3">
          <input  name="app.param$index" class="col-xs-12" type="text" required placeholder="Enter parameter name." />
        </div>
        <div class="rs-controls col-xs-6">
          <input  name="app.value$index" class="col-xs-12" type="text" required placeholder="Enter parameter value"/>
        </div>  
      </div>
  
      <div class="row"> 
        <a href="#" ng-click="addNewParam(param_count)"> Add a parameter </a>
      </div>
    </div>    
    
    </div>
</div>
