<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3 vertical-align">
      <div id="login_wrapper">
        <div class="row">
          <div class="col-md-6" id="rackspace_logo_container"></div>
          <div class="col-md-6" id="auth_login_block">
            <form ng-submit="login(form)" class="form" name="form" novalidate>
              <div class="rs-control-group error" ng-if="result">
                <span class="rs-validation-block">{{ result }}</span>
              </div>
              <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" ng-model="user.username" ng-required placeholder="Please enter your Rax cloud user id.">
              </div>
              <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" ng-model="user.password" ng-required placeholder="Please enter your Rax cloud password.">
              </div>
              <div class="form-group has-error">
                <p class="help-block" ng-show="form.username.$error.required && form.password.$error.required && submitted">Please enter your username and password.</p>
                <p class="help-block" ng-show="form.username.$error.username && submitted">Please enter a valid username.</p>
                <p class="help-block">{{ errors.other }}</p>
              </div>
              <div>
                <button type="submit" class="btn btn-danger">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>