<nav class="navbar navbar-inverse  navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="rs-nav-link active" data-toggle="dropdown" role="button" aria-expanded="false">Cloud PaaS Control Panel</a>        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Documentation <span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-inverse" role="menu">
            <li><a href="#">Cloud PaaS Overview </a></li>
            <li class="divider"></li>
            <li><a href="#">Concepts</a></li>
            <li class="divider"></li>
            <li><a href="#">Deploy App with Private Repo</a></li>
            <li class="divider"></li>
            <li><a href="#">Enable Github Trigger</a></li>
            <li class="divider"></li>
            <li><a href="#">Application pipeline</a></li>
            <li class="divider"></li>
            <li><a href="#">App Environment Variables</a></li>
            <li class="divider"></li>
            <li><a href="#">App Scaling</a></li>            
            <li class="divider"></li>
            <li><a href="#">Cloud PaaS and Carina</a></li>
          </ul>
        </li>        
        <li><a href="#">Feedback</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Account: {{ username }} <span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-inverse" role="menu">
            <li><a href="#">Tenant # {{ tenant }} </a></li>
            <li class="divider"></li>
            <li><a href="#" ng-click="logout()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
