<div class="repose-cards" data-ng-show="!ui.reposeFetchError && !ui.waitingForLoad">
  <div class="repose-card add-new" data-ui-sref="create">
    Deploy Application&hellip;
  </div>
  <!--<div class="repose-card add-new" data-ui-sref="createlp">-->
    <!--Create Languagepack&hellip;-->
  <!--</div>-->
  <div class="repose-card" data-ng-repeat="repose in reposes track by repose.id">
    <div class="card-header row">
      <div class="card-subtitle ">Application Name</div>
      <div class=""><h3 class="card-title">{{ repose.name }}</h3></div>
    </div>
    <div class="card-body">
      <div class="details-trio">
        <div class="row">
          <div class="details-header col-xs-3">App ID</div>
          <div class="col-xs-9">{{ repose.id }}</div>
        </div>
        <div class="row">
          <div class="details-header col-xs-3">Languagepack</div>
          <div class="col-xs-9">{{ repose.languagepack }}</div>
        </div>
        <div class="row">
          <div class="details-header col-xs-3">Description</div>
          <div class="col-xs-9">{{ repose.description }}</div>
        </div>
        <div class="row">
          <div class="details-header col-xs-3">App Url</div>
          <div class="col-xs-9">{{ repose.app_url }}</div>
        </div>
        
        <div class="row">
          <div class="details-header col-xs-3">Status</div>
          <div class="col-xs-9">
          <span class="rs-status rs-status-processing" data-ng-show="['UNIT_TESTING', 'BUILDING', 'SCALING_STARTED', 'DEPLOYING', 'DELETING'].indexOf(repose.status)!==-1">{{ repose.status }}</span>
          <span class="rs-status rs-status-ok" data-ng-show="['READY', 'SCALING_COMPLETE', 'DEPLOYMENT_COMPLETE'].indexOf(repose.status)!==-1">{{ repose.status }}</span>
          <span class="rs-status rs-status-error" data-ng-show="['UNIT_TESTING', 'BUILDING', 'DELETING', 'READY', 'SCALING_STARTED', 'SCALING_COMPLETE', 'DEPLOYMENT_COMPLETE', 'DEPLOYING'].indexOf(repose.status)==-1">{{ repose.status }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer rs-btn-group">
      <div class="button-wrap text-center">
        <button class="rs-btn btn-footer rs-btn-primary" data-ng-show="['READY', 'SCALING_COMPLETE'].indexOf(repose.status)!==-1" data-ng-click="deploy(repose)">Redeploy</button>
        <button class="rs-btn btn-footer rs-btn-primary" data-ng-show="['READY', 'SCALING_COMPLETE'].indexOf(repose.status)==-1" data-ng-click="deploy(repose)">Deploy</button>
        <button class="rs-btn btn-footer rs-btn-login" data-ng-click="deleteapp(repose)">Delete</button>
        <button class="rs-btn btn-footer" data-ng-class="{'disabled': ['READY', 'SCALING_COMPLETE', 'DEPLOYMENT_COMPLETE'].indexOf(repose.status)==-1}" data-ng-click="scaleApplication(repose)">Scale</button>
        <!-- TODO: add ui route for benchmark -->
        <button class="rs-btn btn-footer" data-ui-sref="showapp({app_id: repose.id})">App Details</button>
      </div>
      </button>
    </div>
  </div>
</div>
