<div class="rs-nav-primary">
  <div class="rs-container">
    <div class="rs-nav-brand">
      <img height="50px" src="http://ab71bc6cbe6c47bb5705-e80e692ba07dc44a759d7d5967b76d8a.r90.cf1.rackcdn.com/solum.png" alt="Solum Logo">
    </div>
    <ul class="rs-nav">
      <li class="rs-nav-item-horizontal">
        <a data-ui-sref="main" class="rs-nav-link">Applications </a>
      </li>
      <li class="rs-nav-item-horizontal">
        <a data-ui-sref="languagepacks" class="rs-nav-link">Languagepacks</a>
      </li>
    </ul>
  </div>
</div>
