<div class="rs-detail-section-header">
  <h2 class="rs-page-title">Application Details</h2>
</div>
<div class="rs-detail-section-body">
<div class="row">
  <div class="col-xs-3">
    <label class="rs-control-label">Name</label>
  </div>
  <div class="col-xs-9">{{ solumapp.name }}</div>
</div>
<div class="row">
  <div class="col-xs-3">
    <label class="rs-control-label">Id</label>
  </div>
  <div class="col-xs-9">{{ solumapp.id }}</div>
</div>
<div class="row">
  <div class="col-xs-3">
    <label class="rs-control-label">Languagepack</label>
  </div>
  <div class="col-xs-9">{{ solumapp.languagepack }}</div>
</div>
<div class="row">
  <div class="col-xs-3">
    <label class="rs-control-label">Status</label>
  </div>
  <div class="col-xs-9">{{ solumapp.status }}</div>
</div>
<div class="row">
  <div class="col-xs-3">
    <label class="rs-control-label">Description</label>
  </div>
  <div class="col-xs-9">{{ solumapp.description }}</div>
</div>
<div class="row">
  <div class="col-xs-3">
    <label class="rs-control-label">Creation Time</label>
  </div>
  <div class="col-xs-9">{{ solumapp.created_at }}</div>
</div>
<div class="row">
  <div class="col-xs-3">
    <label class="rs-control-label">Updated Time</label>
  </div>
  <div class="col-xs-9">{{ solumapp.updated_at }}</div>
</div>
<div class="row">
  <div class="col-xs-3">
    <label class="rs-control-label">Repository</label>
  </div>
  <div class="col-xs-9">{{ solumapp.source.repository }}</div>
</div>
<div class="row">
  <div class="col-xs-3">
    <label class="rs-control-label">Ports</label>
  </div>
  <div class="col-xs-9">{{ solumapp.ports }}</div>
</div>
<div class="row">
  <div class="col-xs-3">
    <label class="rs-control-label">App Instance Count</label>
  </div>
  <div class="col-xs-9">{{ solumapp.scale_config[solumapp.name].target }}</div>
</div>
<div class="row">
  <div class="col-xs-3">
    <label class="rs-control-label">Application URL</label>
  </div>
  <div class="col-xs-9"> <a ng-href="{{ solumapp.app_url }}" target = "_blank">{{ solumapp.app_url }}</a></div>
</div>
<div class="row">
  <div class="col-xs-3">
    <label class="rs-control-label">Carina Cluster Name</label>
  </div>
  <div class="col-xs-9">{{ solumapp.cluster_name  }} </div>
</div>
<div class="row">
  <div class="col-xs-3">
    <label class="rs-control-label">Raw Content</label>
  </div>
  <div class="col-xs-9"><pre>{{ solumapp.raw_content |json}}</pre></div>
</div>
</div>
