<div class="rs-detail-section-header">
  <h2 class="rs-page-title">Application Details</h2>
</div>
<div class="rs-detail-section-body">
<div class="row">
  <div class="col-xs-3">
    <label class="rs-control-label">Name</label>
  </div>
  <div class="col-xs-9">{{ solumapp.name }}</div>
</div>
<div class="row">
  <div class="col-xs-3">
    <label class="rs-control-label">Id</label>
  </div>
  <div class="col-xs-9">{{ solumapp.id }}</div>
</div>
<div class="row">
  <div class="col-xs-3">
    <label class="rs-control-label">Languagepack</label>
  </div>
  <div class="col-xs-9">{{ solumapp.languagepack }}</div>
</div>
<div class="row">
  <div class="col-xs-3">
    <label class="rs-control-label">Status</label>
  </div>
  <div class="col-xs-9">{{ solumapp.status }}</div>
</div>
<div class="row">
  <div class="col-xs-3">
    <label class="rs-control-label">Description</label>
  </div>
  <div class="col-xs-9">{{ solumapp.description }}</div>
</div>
<div class="row">
  <div class="col-xs-3">
    <label class="rs-control-label">Creation Time</label>
  </div>
  <div class="col-xs-9">{{ solumapp.created_at }}</div>
</div>
<div class="row">
  <div class="col-xs-3">
    <label class="rs-control-label">Updated Time</label>
  </div>
  <div class="col-xs-9">{{ solumapp.updated_at }}</div>
</div>
<div class="row">
  <div class="col-xs-3">
    <label class="rs-control-label">Repository</label>
  </div>
  <div class="col-xs-9">{{ solumapp.source.repository }}</div>
</div>
<div class="row">
  <div class="col-xs-3">
    <label class="rs-control-label">Ports</label>
  </div>
  <div class="col-xs-9">{{ solumapp.ports }}</div>
</div>
<div class="row">
  <div class="col-xs-3">
    <label class="rs-control-label">App Instance Count</label>
  </div>
  <div class="col-xs-9">{{ solumapp.scale_config[solumapp.name].target }}</div>
</div>
<div class="row">
  <div class="col-xs-3">
    <label class="rs-control-label">Application URL</label>
  </div>
  <div class="col-xs-9"> <a ng-href="{{ solumapp.app_url }}" target = "_blank">{{ solumapp.app_url }}</a></div>
</div>
<div class="row">
  <div class="col-xs-3">
    <label class="rs-control-label">Carina Cluster Name</label>
  </div>
  <div class="col-xs-9">{{ solumapp.cluster_name  }} </div>
</div>
<div class="row">
  <div class="col-xs-3">
    <label class="rs-control-label">Raw Content</label>
  </div>
  <div class="col-xs-9" ng-init="show_appfile=false">
  <a ng-show="show_appfile" ng-click="show_appfile=false;" href="#">Hide Raw App File Content</a>
  <a ng-hide="show_appfile" ng-click="show_appfile=true;" href="#">Show Raw App File Content</a>  
  <pre ng-show="show_appfile">{{ solumapp.raw_content |json}}</pre></div>
</div>

<h3>Application Deployment History</h3>
  <div class="rs-control-group rs-embedded-medium">
    <table class="rs-list-table rs-embedded-list-table">
      <thead>
      <tr>
        <th><span class="rs-table-sort-text">Deployment ID</span></th>
        <th><span class="rs-table-sort-text">Actions</span></th>
        <th><span class="rs-table-sort-text">Status</span></th>
        <th><span class="rs-table-sort-text">Time</span></th>
        <th><span class="rs-table-sort-text">Logs</span></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="wf in logs">
        <td class="rs-table-text">{{ wf.wf.id }}</td>
        <td class="rs-table-text">{{ wf.wf.actions }}</td>
        <td class="rs-table-text">{{ wf.wf.status }}</td>
        <td class="rs-table-text">{{ wf.wf.updated_at }}</td>
        <td ><div ng-repeat="data in wf.logs"> <a ng-click="showLogDetails(data)">{{ data.location | split }}</a></div></td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
